{% extends "author/main.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    {% block titlepage %} home{% endblock titlepage %}
</head>
<body>
    {% block content %}

        <section>
        <div>
            <h1>introduction</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam tempore corporis dignissimos explicabo repellendus vero nesciunt quo! Explicabo deserunt soluta iusto tempora perferendis? Ullam iure quasi, esse neque quam doloribus.</p>
            <p>Joseph Vijay Chandrasekhar (born 22 June 1974), known professionally as Vijay, is an Indian actor and playback singer who works in Tamil cinema. In a career spanning over three decades, Vijay has acted in 68 films and is one of the most commercially successful actors in Tamil cinema with multiple films amongst the highest-grossing Tamil films of all time and is amongst the highest paid actors in India. He has won several awards as an actor. Referred to as "Thalapathy" (transl. commander), Vijay has a significant fan following.

                Born in Madras to director S. A. Chandrasekhar, Vijay made his debut as a child actor in the Tamil film Vetri (1984). After a few roles as a child actor in his father’s films, he played his first lead role in the film Naalaiya Theerpu (1992) at the age of 18. Vijay continued doing lead roles for the next few years with notable films amongst them included Poove Unakkaga, Love Today, Kadhalukku Mariyadhai, Thulladha Manamum Thullum and Kushi. In 1998, he was awarded Kalaimaamani by the Government of Tamil Nadu.
                
                In 2004, he starred in Ghilli, which became the first Tamil film to gross over ₹50 crore and with subsequent success of Thirupaachi and Pokkiri later, he established himself as one of the leading and commercially successful actors in Tamil cinema. Following a period of moderate success, Vijay acted in several critically and commercially successful films starting from early 2010s including Thuppakki, Kaththi, Mersal, Sarkar, Master, Leo and The Greatest of All Time.
                
                In February 2024, Vijay announced his retirement from films and his entry into politics with the launch of Tamilaga Vettri Kazhagam.
                
                Early life and family
                Vijay was born as Joseph Vijay Chandrasekhar on 22 June 1974 in Madras (now Chennai), Tamil Nadu.[1][2] His father, S. A. Chandrasekhar, is a film director and his mother, Shoba Chandrasekhar is a playback singer and vocalist.[3] His father is of Christian descent and his mother is a Hindu.[4][5] Vijay had a sister, Vidhya, who died when she was two years old.[6] Vijay did his schooling initially at Fathima school, Kodambakkam and later at Balalok school, Virugambakkam.[7][8] He pursued a bachelor degree in visual communication from Loyola College.[9]
                
                Film career
                Main article: Vijay filmography
                1984–2003: Debut and transition to lead roles
                
                Vijay as a child actor
                At the age of 10, Vijay made his debut as a child actor in the Tamil film Vetri, produced by P. S. Veerappa in 1984.[10] He then acted as a child actor in films such as Kudumbam (1984), Vasantha Raagam (1986), Sattam Oru Vilayaattu (1987) and Ithu Engal Neethi (1988). He also acted in a supporting role with Rajinikanth in Naan Sigappu Manithan (1985), directed by his father.[citation needed]
                
                
                Vijay in 1998
                Vijay played the lead role for the first time in Naalaiya Theerpu in 1992.[11] Vijay then appeared in the films Senthoorapandi, Rasigan, Deva and Coimbatore Mappillai, most of those were successful.[12][13] In 1996, Vijay acted in Poove Unakkaga, directed by Vikraman, which according to him, gave him his initial break and popularity.[14] In 1997, Vijay acted in Kaalamellam Kaathiruppen and Love Today.[15][16]
                
                Later, he starred in commercially successful films such as Nerrukku Ner, Kadhalukku Mariyadhai, Ninaithen Vandhai, Priyamudan and Thulladha Manamum Thullum.[17][18] In 1999, he then acted in the films Endrendrum Kadhal, Nenjinile, and Minsara Kanna.[19] In 2000, he acted in critically successful, Kannukkul Nilavu, which was his 25th film, alongside commercially successful romantic films, Kushi and Priyamaanavale.[17] In 2001, he acted in hat-trick box office successes; Friends, Badri and Shahjahan before starring in the action film Thamizhan alongside Priyanka Chopra in 2002.[20] Later, he appeared in the romantic film Youth and the action film Bagavathi in the same year.[21] Vijay began 2003 with Vaseegara and Pudhiya Geethai.[22]
                
                2003–11: Established actor
                In 2003, following the action-romance film Thirumalai, Vijay starred in Ghilli, directed by S. Dharani with Trisha and Prakash Raj.[23] The movie became a commercial success and became the first Tamil film to gross over ₹500 million at the domestic box office and also broke the record for the most people watching the movie within the first week of its release, previously held by M. G. Ramachandran's Adimai Penn (1969).[24][25][26] Following the same, he acted in Madhurey and Thirupaachi in 2005.[27] Later, he starred in the commercially successful films Sachein, Sivakasi and Pokkiri.[27] Pokkiri became one of the highest-grossing films of his career at the time.[28]
                
                
                Vijay in 2007
                In late 2007, Vijay starred in the romantic thriller film Azhagiya Tamil Magan, where he portrayed a dual role for the first time in his career. He played the roles of both protagonist and antagonist.[29] The film was commercially successful outside India.[30][31] Except the commercially successful, Kuruvi in 2008[32][33] and Vettaikaaran in 2009, his subsequent releases Azhagiya Tamil Magan and Villu were average successes at domestic box office while continuing to be more successful overseas.[34][35][36] Vijay continued to be one of the highest paid actors despite the moderate success of then recently released movies.[37]
                
                In 2010, he acted in the action comedy film Sura, which was his 50th film as an actor.[38][39] In early 2011, Vijay acted in the romantic comedy Kaavalan, directed by Siddique which received positive response and a box office collection of ₹102 crore worldwide.[40][41] The film was screened at the Shanghai International Film Festival in China.[42] Kaavalan was a commercial success in China.[43] His next film was the action film Velayudham, directed by M. Raja which released during Diwali and became one of the top-grossing films of 2011.[24] The movie was also a critical success overseas.[44]
                
                2012–present: Commercial success
                
                Vijay in 2013
                In 2012, Vijay acted in the commercially successful Nanban, a remake of successful Hindi film 3 Idiots.[45][46] Later in the year, he acted in the action thriller Thuppakki, directed by A. R. Murugadoss.[47] The film became the third Tamil film to gross more than ₹100 crore domestically and became the most successful film of Vijay's career at the time, grossing over ₹121 crore.[48] His next film Thalaivaa, directed by A. L. Vijay, was released in August 2013 to mixed reviews.[49][24] In 2014, he acted in Jilla which ended up as a box office hit.[50][51] Vijay starred in the action thriller Kaththi, which received positive reviews and collected ₹130 crore at the box office, becoming one of the highest-grossing Tamil films in 2014</p>
        </div>
        </section>
   

    

    
    
    {% endblock content %}
   







</body>
</html>